<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      th:include="fragments/layout :: page">
    <head>
        <title>Lisää käyttäjä</title>
    </head>
    <body>
        <div th:fragment="content">
            <h1>Lisää uusi käyttäjä</h1>
            <p><a href="/kayttajat">Takaisin käyttäjälistaan</a></p>
            <form action="#" th:action="@{/kayttajat/lisaa}" th:object="${user}" method="POST">
                <div class="form-group">
                    <label for="name">Nimi:</label>
                    <input type="text" name="name" th:field="*{name}" class="form-control"/>
                    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Nimivirhe</p>                        
                </div>
                <div class="form-group">
                    <label for="username">Käyttäjätunnus:</label>
                    <input type="text" name="username" th:field="*{username}" class="form-control"/>
                    <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Käyttäjätunnusvirhe</p>                        
                </div>
                <div class="form-group">
                    <label for="password">Salasana:</label>
                    <input type="text" name="password" class="form-control"/>
                    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Salasanavirhe</p>                        
                </div>
                <div class="form-group">
                    <label for="password2">Salasana uudelleen:</label>
                    <input type="text" name="password2" class="form-control"/>
                </div>
                <div class="form-group">
                    <input type="submit" value="Tallenna"/>
                </div>
            </form>
        </div>
    </body>
</html>
