<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Lisää käyttäjä</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <h1>Lisää uusi käyttäjä</h1>
        <p><a href="/kayttajat">Takaisin käyttäjälistaan</a></p>
        <form action="/kayttajat/lisaa" method="POST">
            <p>
                <label for="name">Nimi:</label>
                <input type="text" name="name"/>
            </p>
            <p>
                <label for="email">Email:</label>
                <input type="text" name="email"/>
            </p>
            <p>
                <label for="password">Salasana:</label>
                <input type="text" name="password"/>
            </p>
            <p><input type="submit"/></p>
        </form>
    </body>
</html>
