<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" 
      th:include="fragments/layout :: page">
    <head>
        <title></title>
    </head>
    <body>
        <div th:fragment="content">
            <h1>Tehtäväsivu</h1>
            <p>Tehtävät:</p>
            <div>
                <ul class="no-styles-list" th:each="question : ${questions}">
                    <!-- Not valid html but works for now at least in chrome -->
                    <form th:method="POST" th:action="@{/tehtavat}">
                        <li><h3 th:text="${question.title}"></h3></li>
                        <li><p th:text="${question.info}"></p></li>
                        <li><p th:text="${question.code}"></p></li>

                        <li th:each="option : ${question.answerOptions}">
                            <input type="radio" name="options" th:value="${option}"/><label th:text="${option.answerText}">option</label>
                        </li>
                        <p><input type="submit" value="Tarkasta vastaus"/></p>
                    </form>
                </ul>
            </div>
        </div>
    </body>
</html>