<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" 
      th:include="fragments/layout :: page">
    <head>
        <title>Kirjaudu koodi-järjestelmään</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div th:fragment="content">
            <h1>Kirjaudu koodi-järjestelmään</h1>
            <p th:if="${loginError}">Käyttäjätunnus tai salasana väärin</p>
            <form th:action="@{/j_spring_security_check}" method="post">
                <table>
                    <tr>
                        <td><label for="j_username">Username</label></td>
                        <td><input type="text" id="j_username" name="j_username" /></td>
                    </tr>
                    <tr>
                        <td><label for="j_password">Password</label></td>
                        <td><input type="password" id="j_password" name="j_password" /></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" value="Log in" /></td>
                    </tr>
                </table>
            </form>
        </div>
    </body>
</html>
